VITE_APP_NAME=True Furnitures
VITE_CITY=Indore
VITE_PHONE=7773896496
VITE_EMAIL=info@truefurnitures.in
VITE_ADDRESS=Vijay Nagar Square, Indore – 452010
VITE_GEO_API=https://api.bigdatacloud.net/data/reverse-geocode-client
VITE_ADMIN_USER=admin
VITE_ADMIN_PASS=admin123
VITE_VERSION=2.0.0
